---
import Layout from '../layouts/Layout.astro';
import TestRunner from '../components/TestRunner.astro';
---
<Layout title="Repetir fallos">
  <h1>Repetir fallos</h1>
  <TestRunner mode="fails" />
</Layout>
