---
import Layout from '../layouts/Layout.astro';
import GamificationTrainer from '../components/GamificationTrainer.astro';
---

<Layout title="Gamificación">
  <div class="bd-intro ps-lg-2">
    <h1 class="bd-title">Gamificación</h1>
    <p class="bd-subtitle mb-0">Ejercicios cortos para memorizar leyes, artículos, instituciones, fechas y secuencias por grupos.</p>
  </div>

  <section class="bd-content ps-lg-2">
    <GamificationTrainer />
  </section>
</Layout>
